.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-with: 52px;

    width: 100%;
    height: var(--default-layout-header-height);
    border-bottom: 1px solid rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: 1150px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

//action
.action {
    display: flex;

    justify-content: center;
}

.more-btn {
    font-size: 2rem;
    margin-left: 28px;
    background: transparent;
    padding: 6px;
}

.action-btn {
    font-size: 2.2rem;
    color: #161823;
    background-color: transparent;
    padding: 6px 12px;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 6px 12px;
}
